* {
  box-sizing: border-box;
}

/* How to Play  */
.howToPlay {  
  margin: 1em 5em;
  color: #332357;
}
.howToPlay > header {
  border-bottom: 1px solid #D9D9D9;
  display: inline-block;
  font-family: Poppins;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.62em;
  text-align: left;
  margin-bottom: 1.5em;
}
.pageContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mainInstructionsContainer {
  padding: .4em 0;
  
}
.containerHeader {
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.5em;
  text-align: left;
}
.mainOl {
  padding: 0 1.5em;
}
.mainLi {
  font-family: Poppins;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}
.mainButton {
  font-family: Poppins;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 2.8em;
  text-align: center;
  color: #ffffff; 
  background: linear-gradient(328.36deg, #332357 17.69%, #532384 33.32%, #4666BE 65.79%);
}
.asidePowerupContainer {
  background: var(--lime, #F3F57F); 
  padding: .4em 1em;
}
.asideDescription {
  font-family: Poppins;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.asideSubscriptionContainer {
  background: linear-gradient(328.36deg, #332357 17.69%, #532384 33.32%, #4666BE 65.79%);
  color: #FFFFFF;
  ;
}